# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment files
.env
*.env

# Virtual environment
venv/
env/
.venv/

# Output files
todas_as_letras_mobile_iocs.stix2

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.swp